{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Moto App</title>


    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'forum/main.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'forum-home' %}">E-MOTO App</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'forum-home' %}"> Home </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'forum-posts' %}"> Forum </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'stats-home' %}"> Stats </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'achievements-home' %}"> Achievements </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'fuel-home' %}"> Fuel Price </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Login </a></li>
        </ul>
    </div>

</nav>
<main>
<div class="container">
    <h1>Fuel Price Tracking</h1>
    <div class="row" style="margin-top: 50px; text-align: center;">
        <a class="col-sm-3" href="{% url 'e95_price' %}" style="text-decoration: none; color: white;">
            <div style="background: #118cff; height: 100px; padding: 35px;">E95</div>
        </a>
        <a class="col-sm-3" href="{% url 'e98_price' %}" style="text-decoration: none; color: white;">
            <div style="background: #339eff; height: 100px; padding: 35px;">E98</div>
        </a>
        <a class="col-sm-3" href="{% url 'on_price' %}" style="text-decoration: none; color: white;">
            <div style="background: #118cff; height: 100px; padding: 35px;">ON</div>
        </a>
        <a class="col-sm-3" href="{% url 'lpg_price' %}" style="text-decoration: none; color: white;">
            <div style="background: #339eff; height: 100px; padding: 35px;">LPG</div>
        </a>
    </div>
</div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>